  body {
   /* background-color: #ccd3e2;*/
    font-family:'Inria Serif', serif;
    height: 100%;
    width: 100%;
    background-color:#30374A ;
  }

  #menu-nav {
    display: flex;
    z-index: 1; 
    position: fixed; 
    top: 0;
    height: 13%; 
    width: 100%; 
    background-color: #191E2A;
  }

  #logo {

    height: 50%; 
    margin-left: 1%;

  }

  #icon-right {
    flex: 1;
    border-radius: 4px;
    overflow: hidden;
  }

  #icon-right li {
    float: left;
    width: 20%;
    margin-top: 1%;
   
  }

  #icon-right a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    padding: 20px 0;
    display: block;
    position: relative;
    transition: all 0.3s ease;
  }

  #icon-right a:hover {
    color: #bbff9c;
  }

  #icon-right a::before {
    content: "";
    transition: all 0.4s ease-in-out;
    position: absolute;
    right: 50%;
    left: 50%;
    bottom: 0;
    height: 2px;
    background-color: #42c2c7;
  }

  #icon-right a:hover::before {
    right: 0;
    left: 0;
  }

  li { list-style: none;  }
   
  .img_fd {
    position: relative; 
    height: 600px; 
    background-image: url('../pictures/picture_background.png'); 
    background-repeat: no-repeat;
    background-size: cover;
    filter:grayscale(50%); 
    
  }

  .describe {
    position: absolute;
    color:#bbff9c ; 
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    text-align: center; 
  }

  .describe>h1:hover {transform: scale(1.50);}

  .describe h1 {
    font-size: 80px;
    color:  #fff;
    transform: scale(1);
    transition-property:transform;
    transition-duration: 1000ms; 
    margin-top: 25%;
  }

  .describe p {
    font-size: 40px;
    color: #42c2c7;
    transform: scale(1);
    transition-property:transform;
    transition-duration: 1000ms;
    position: relative;
    top: 30px;
  }
 
  .describe>p:hover { transform: scale(1.50); }

  .icon{
    text-align: center;
    padding-top: 17%;
    margin-left: 6%;
  }
  .icon>a{
    margin-top: 8%; 
    font-size: 48px;
    text-decoration: none; 
    margin-right: 7%;
    color:#b4f3f5; 
  }

  .img_id {
    display: flex; 
    margin-top: 5%;
   /* background-color: burlywood;*/

  }
  
  .describe_me { 
    display: block;
    color: white;
    text-align: center;
    position: relative;
    height: 410px;
    margin-top: 5%; 
   /* background-color: brown;*/
  }

  .txt_describe {
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-right: 5%;
  }

  .txt_describe h2 {
    margin-right: 25%;
    padding-bottom: 2%;
    color: white ;
  }

  .txt_describe h3 {
    margin-right: 25%;
    margin-top: 2%;
  }

  .txt_describe p {
  text-align: justify;
  padding-top: 2%;
  margin-left: 12%;
  font-size:22px;
  }

 
  .cv a {
    margin-left: 5%;
    text-decoration: none;
    
  }

  .bloc_skill {
    width: 80%;
    margin: auto;
    margin-top: 10%;
  }

  .bloc_skill h1 {
    text-align: center;
    color: white;
  }

  .bloc_icon_skill {
    display: flex;
    margin-top: 20%;
  }

  .bloc_skill h1 {
    text-align: center;
    color: white;
    margin-top: 10%;
  }

  .bloc_icon_skill {
    display: flex;
    margin-top: 10%;
    text-align: center;
  }

  .bloc_icon_skill img {
    width : 20%;
    height: 60%;
  }
  
  .bloc_icon_skill p {
    text-align: center;
    font-size: 20px;
    color: white;
  }

  .bloc_skill2{
    width: 80%;
    margin: auto;
   /* background-color: #42c2c7; */
    text-align: center;
  }

  .bloc_icon_skill2 img {
    width : 20%;
    height: 60%;  
  }

  .bloc_icon_skill2 {
    display: flex;
    margin-top: 10%;
  }

  .bloc_icon_skill2 p {
    text-align: center;
    font-size: 20px;
    color: white;
  }
  .skill1 {flex: 1;}

  .skill2 {flex: 1;}
    
  .skill3 {flex: 1;}

  .skill4 { flex: 1;}

  .skill5 {flex: 1;}

  .skill6 {flex: 1;}

  .skill7 {flex: 1;}

  .skill8 {flex: 1;}

.stage a{
  margin-top:5% ;
}
 .exp_bloc {
 /*  background-color: rgb(97, 2, 26);*/
 } 
 
 .exp_title { 
  text-align: center;
  color:white;
  margin-top: 15%;  
  
}
.main_block {
  height: 500px;
  width: 100%;
  margin-top: 10%;
  color: aliceblue;
  text-align: center;
  display: flex;
  position: relative;
/*  background-color: saddlebrown;*/
}

.main_block img {
  max-width: 100%;
  height: 300px;
  margin-left: 1%;
  margin-top: 5%;
  margin-right: 4%;
  /* background-color: yellowgreen; */
}

.main_block_in {
flex: 1;
display: inline;
top: 50%;
/* background-color: purple; */

/*margin-left: 10%;*/

}

.videolink {

  /* background-color: #bbff9c; */
  margin-left: 55%;
  margin-top: 10%;
}

.main_block_text {
position: absolute;
text-align: justify;
margin-left: 10%;
top: 50%;
transform: translateY(-50%);
/* background-color: #2e3b3b; */
}

.main_block_text a{
  text-decoration: none;
  color: #b4f3f5;
}
/****************************************/
  .recommandation{
    width: 80%;
    margin: auto;
    margin-top: 15%;   
  }

  .recommandation h2 {
    text-align: center;
    color: white;
  }

  .reco_texte {
    margin-top: 10%;
    text-align: center;
    color: white;
  }

.bloc_form{
/*background-color: rgb(85, 90, 80);*/
}

.contact {
  text-align: center;
  color:white; 
  margin-top: 15%;
}

.container label {
  color: #bbff9c;
}
  form {
  margin-top: 5%;
  width: 400px;
  padding: 1em;
  border-radius: 1em;
  margin-left: 40%;
  bottom: 40;
}

form div + div {  margin-top: 1em;}

label {
  display: inline-block;
  width: 90px;
  color: aliceblue;
}

input, textarea {
  font: 1em sans-serif;
  border: 1px solid #999;
}

input:focus, textarea:focus {
  border-color: #000;
}

textarea {
  vertical-align: top;
  height: 5em;
}

.button {
  padding-left: 90px; 
  margin-left: .5em;
}

.button_send {
  margin-top:2%;
  margin-left:48%;
}

.button_send a:hover {
  background-color: #42c2c7;
}

.text_consentement {
  margin-top: 2%;
  text-align: center;
  color: azure;


}


/**************** MEDIA QUERY********************/

/* mode tablet 
@media only screen and (max-width: 600px) {
  .back {
    background-color: lightblue;
  }
}*/

.footer{
  bottom: 0;
  justify-content: center;
  padding: 5px;
  color: #fff;
  height: 10%;
  background-color: #30374A;
  position: relative;
  margin-top: 10%;
}

.all {
  display: flex;
  justify-content: center;
  
}

.all a
{
  font-size: 40px;
  padding: 10px;
  text-decoration: none; 
  color: #42c2c7;

}
#backtotop
{
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 30px;
  color: white;
  margin-bottom: 3%;
  color: #bbff9c;
  
}
#copyright
{
  width: 100%;
  background: #191E2A;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}
#copyright p
{
  text-align: center;
  margin-top: 10px;
}

.logo_footer
{
  justify-content: center;
  margin-top: 10px;
  height: 100px;
  /* width: 450px; */
  text-align: center;
 
}

.logo_footer img {
height:50px;
width: 50px;
}
