body {
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    font-family:'Inria Serif', serif;
    height: 3000px;
  }
   
  #menu-nav {
    display: flex;
    z-index: 1; 
    position: fixed; 
    top: 0;
    height: 100px; 
    width: 100%; 
    background-color: rgba(0, 0, 0, 0.5);
    
  }
  #navigation-left
  {
      flex: 1;
  }
      
  #navigation-bar {
      flex: 1;
     /* background: red;*/
    border-radius: 4px;
    overflow: hidden;
  }
  #navigation-bar li {
    float: left;
    width: 20%;
  }
  #navigation-bar li:hover a::before {
    right: 0;
    left: 0;
  }
  #navigation-bar a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    padding: 20px 0;
    display: block;
    position: relative;
    transition: all 0.3s ease;
  }
  #navigation-bar a:hover {
    color: #bbff9c;
  }
  #navigation-bar a::before {
    content: "";
    transition: all 0.4s ease-in-out;
    position: absolute;
    right: 50%;
    left: 50%;
    bottom: 0;
    height: 2px;
    background-color: #42c2c7;
  }
  #navigation-bar a:hover::before {
    right: 0;
    left: 0;
  }
   
  li {
      list-style: none;
  }

  .bio {
      font-family: 'Inria Serif', serif;
      width: 100%;
      padding-top: 100px;
      background-color:rgba(0, 0, 0, 0.7);
      text-align: center;
  }
  .bio>h1 { text-align: center;
  
  }

  .icon >a {
    font-size: 48px;
    text-decoration: none; color:  #42c2c7;

  }

  .img_fd {
    position: relative; 
    height: 400px;
    background-image: url('41.png'); 
    background-repeat: no-repeat;
    background-size: cover;

  }

  .describe {
    position: absolute;
    color:#ffffff ; 
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    text-align: center; 
  }
 
  .img_id {
    display: flex;
  }

  .describe_me {
    background-color: rgb(0, 0, 0);
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    position: relative;

  }

  .txt_describe {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

  }

.skill {
  background-color:rgb(160, 160, 160);
  height: 500px;
  width: 100%;
  display: flex

}

.skill h1 {
  color: rgb(230, 230, 230);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);


}

.icon_skill { 
  display: flex;
  position: relative;
  text-align: center;
  width: 100%;
  top: 50%;
  color: #ccc;

   
}

.icon_skill i {
  flex: 1;
  text-align: center;
  /*background-color: blue;*/
}
/*
.ex_skill {
  display: flex;
  position: relative;
  text-align: center;
  width: 100%;
  top: 50%;
  color: #ccc;
  background-color: blue;
}
*/
.ex_skill {
flex: 1;
text-align: center;
}

.recommandation {
  background-color: rgb(0, 0, 0);
  height: 500px;
  width: 100%;

}

.recommandation {
  color: aliceblue;
  text-align: center;
}

form {
  margin: 0 auto;
  width: 400px;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
  background-color: rgb(160, 160, 160);
}

form div + div {
  margin-top: 1em;
}

label {
  display: inline-block;
  width: 90px;
  text-align: right;
}

input, textarea {
  font: 1em sans-serif;
  border: 1px solid #999;
}

input:focus, textarea:focus {
  border-color: #000;
}

textarea {
  vertical-align: top;
  height: 5em;
}

.button {
  padding-left: 90px; 
}

button {
  margin-left: .5em;
}